# no object files
*.o

# no hidden files/directories
.*

# no kdevelop project files
*.kdev4

# no binaries
test/[a-z_]*
src/[a-z_]*
*.so

# include sources
!*.cc
!*.h
!*.rb
!Makefile

# include travis-ci
!.travis.*
