# no object files
*.o

# no kdevelop project files
*.kdev4

# no binaries
test/[a-z_]*
src/lrun
tools/mirrorfs/mirrorfs
tools/netns-empty/netns-empty
*.so

# include sources
!*.cc
!*.h
!*.rb
!Makefile
