# run:
#   mirrorfs --name python-chroot-env --setup fs.example
# then:
#   sudo chroot /run/lrun/mirrorfs/python-chroot-env /usr/bin/python
mirror /dev/
mirror /usr/lib/
mirror /lib/
mirror /lib64/
mirror /usr/bin/python{,[0-9].[0-9]}
# debian-ish
mirror /etc/alternatives/
mirror /etc/python*/
# python requires passwd to know current user name
mirror /etc/passwd
